.featured-post {
  margin: 0;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-19%);
    @media (min-width: 769px){
        bottom: 0;
        transform: translateY(77%);
      }
    @media (max-width: 500px){
      transform: translateY(-5%);
    }
  .row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .image--loaded,
    .post-content {
      &::before{
        content: '';
      display: block;
      padding-bottom: 100%;
      width: 100%;
      background: $white;
        @media (min-width: 600px) and (max-width: 768px){
          padding-bottom: 60%;
        }
      }
      .image__img {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
          @media (min-width: 600px) and (max-width: 768px){
            object-position: 0 -13em;
          }
          
      }
    }
    .post-content {
      text-align: center;
      position: relative;
      &::before{
        @media (min-width: 600px) and (max-width: 768px){
          padding-bottom: 50%;
        }
      }
      .post-info{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 4%;
          @media (min-width: 1200px){
            padding: 0 16%;
          }
           @media (max-width: 768px){
            padding: 0 13%;
          }
          
        .excerpt{
         @media (max-width: 900px){
         margin: 0;
       }
      }
      a{
        font-size: 14px;
      }
      }
      .article{
        &:before,
        &:after {
          background-color: transparent;
          position: relative;
          top: 0;
          height: 0;
        }
      }
    }
  }
  @media (min-width: 769px){
        .col-2{
            width: $col-2;  
        }
       .modal{
        .col-2{
          width: $col-2;
          float: left; 
          p{
            padding-left: 7%;
          }
        }
      }
      }
      .open {
        overflow: visible;
      }
}