
.modal,
.modal-bk {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0,0,0,.7);
  overflow: auto;
  z-index: 9999;
    .article, 
    .gallery, 
    .recipe, 
    .video {
      &::after{
        position: relative;
        top: 0;
      }
      &::before{
        display: none;
      }
    }
    @media (min-width: 769px){
    
      .col-2{
        width: $col-2;
        float: left; 
        p{
          padding-left: 7%;
          text-align: left;
        }
      }
    }
    
}
.modal-bk{
  z-index: 2;
  height: 100vh;
}
.modal-container {
  position: relative;
  background-color: #FFFFFF;
  width: 75%;
  margin: 10% auto;
  padding: 20px;
  color: $black;
  .modal-header{
    h1, 
    p{
      text-align: center;
      padding: 0!important;
      margin: 5px 0;
    }
  }
  .modal-content {
    padding: 25px 0;
    text-align: left;
  }
  .close {
    color: rgba(0,0,0,.3);
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    text-align: right;
  }
  .close:hover,
  .close:focus {
    color: $red_2-color;
    cursor: pointer;
}
.modal-footer {
  padding-bottom: 1.5%;
}
}
@keyframes open {
  from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.open {
  opacity: 0;
  visibility: visible;
  animation: open .3s ease-in both;
}
