body,
html{
  height:100%;
  min-height: 100%;
}

body {
  background: $black-bg;
  font-family:$sans-serif-family;
  font-size: $font-paragraph;
  color: $black;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.clearfix{
  &:before,
  &:after{
    content: " ";
    display: table;
    clear: both;
  }
}
.container, 
.container-fluid {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
}

article{
  display:block;
}
header,
footer,
.topbar{
  .container{
    padding: 0 25px;
    max-width: 2000px;
  }
}
img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-inline-start: 0;
}

.padding10{
  padding: $padding10;
}
.padding15{
  padding: $padding15;
}

figure{
  margin-block-start: 0;
  margin-block-end: -9px;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.full-height{
  height: $height1;
}

.current_page_item{
  display: none;
}

.page-content {
    padding-bottom: 3em;
    margin-top: 70px;
    background: $white;
}
.entry-header{
  text-align: center;
  margin: 45px 0;
}

// Grid
.col{
  width: $col;
}

@media (min-width: 769px){
  .col-3,
  .col-4 {
    float: left;
  }
  .col-3{
    width: $col-3;
  }
}
.col-4{
  width: $col-4;
}