.article:after,
.gallery:after,
.recipe:after,
.video:after{
  content: "";
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  padding: 18px;
  left: 0;
  right: 0;
  top: -20px;
}
.article:before,
.gallery:before,
.recipe:before,
.video:before{
  content: "";
  position: absolute;
  display: block;
  background-color: #f3f1ec;
  width: 20px;
  height: 20px;
  padding: 18px;
  border-radius: 50px;
  margin: -29px auto auto;
  left: 0;
  right: 0;
  z-index: 0;
  transition: all .3s ease-in-out;
}

.article:after{
  background-image: url(img/Article.svg);
}
.gallery:after{
  background-image: url(img/Gallery.svg);
}
.recipe:after{
  background-image: url(img/Glass.svg);
}
.video:after{
  background-image: url(img/Video.svg);
}
.active{
  .article:before,
  .gallery:before,
  .recipe:before,
  .video:before{
    background-color: $dk_brown;
  }
}