
@media (min-width: 769px){
	.container {
		padding: 0 60px;
	}
	
	
	
}

@media (min-width: 1200px){
	.container {
		padding: 0 80px;
	}
	.main-title {
    font-size: 70px;
}
	
	
}

@media (max-width: 768px){
	.container {
		padding: 0 40px;
	}
	.hero{
		.content{
			display: block;
			margin: auto;
			right: 0;
			text-align: center;
			overflow: visible; 
		}
		
	}	

.main-heading{
		font-size: 19px;
}
.sub-heading{
		font-size: 18px;
}
.sub-heading-2{
		font-size: 17px;
}
	
}

@media (max-width: 500px){
.container {
		padding: 0 20px;
	}
	
}