button,
input,
optgroup,
select,
textarea{
    font-family: $sans-serif-family;
}
h1,h2,h3,h4,h5,h6{
    font-weight: $font-weight-normal;
    line-height: 1.3;
    margin-block-end: 0;
    
}

a{
    color: $red-color;
    font-weight: 600;
    text-decoration: none; 
    &:hover,
    &:focus{
        color: $red_2-color;
    }
}

.main-title{
  font-size: 60px;
  margin: 0;

@media (max-width: 600px){
  font-size: 35px;
  padding: 0 5%;
}
}
.main-heading{
  font-size: 35px;
  margin: 0;
    @media (max-width: 900px){
      font-size: 30px;
    }
}
.sub-heading{
  font-size: 21px;
}
.sub-heading-2{
  font-size: 18px;
}
.sub-heading-small{
  font-size: 16px;
}

.fa-facebook:before {
  content: "\f39e";
}
 
.date {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
  // padding-top: 28px;
  z-index: 1;
  position: relative;
}