// Google font Open Sans
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

$sans-serif-family:             'Open Sans', sans-serif;

$black:                         #000;
$black-bg:                      #1e1e1e;
$black-bg-7:                    rgba(0, 0, 0, 0.7);

$dk_brown:                      #1e1e1e;

$red-color:                     #bd3131;
$red_2-color:                   #932525;

$tan:                           #b5a484;
$tan_2:                         #f3f1ed;

$white:                         #fff;

$bk-gradient:                   linear-gradient(to right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);

// Fonts
$font-weight-normal:              normal;
$font-paragraph:                  15px          !default;
$font-size-small:                 13px          !default;

// Columns
$col:                             100%;
$col-2:                           50%;
$col-3:                           33.33%;
$col-4:                           25%;

// Padding
$padding5:                        0 5%;
$padding7:                        0 7%;
$padding10:                       0 10%;
$padding15:                       0 15%;
// Height
$height1:                         100vh;



:root {
  --break-mobile-min: 600px;
}
