.post{
  .entry-title {
    margin-top: 4em;
    text-align: center;
    padding-bottom: 3em;
    .article, 
    .gallery, 
    .recipe, 
    .video {
      &::after{
        position: relative;
        top: 0;
      }
      &::before{
        display: none;
      }
  }
}

p{
  padding: $padding10;
}
}
.info{
  padding: 0;
  font-size: 12px;
  }