.gallery-grid {
  overflow: auto;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
    .item{
      margin-bottom: 30px;
      box-sizing: border-box;
      opacity: 1;
      @media (min-width: 600px){
        padding: 0 15px 10px;
        &.col-2{
            width: $col-2;  
        }
      }
      @media (min-width: 769px){
        &.col-3{
          width: $col-3;
        }
      }
    .image-wrapper {
      background: black;
    }
    .image--loaded {
      &::before{
        content: '';
      display: block;
      padding-bottom: 100%;
      width: 100%;
      }
      .image__img {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        object-fit: cover;
        object-position: right;
    }
  }
}
}