.hero{
  &::after{
    content: "";
    display: block;
    padding-bottom: 30%;
    width: 100%;
    background: $tan;
    position: static;
    z-index: 1;
    padding-bottom: 30%;
    @media (min-width: 1000px){
       padding-bottom: 32%;
      }
    @media (min-width: 1200px){
       padding-bottom: 33.2%;
      }
      @media (max-width: 768px){
       padding-bottom: 42.5%;
        padding-top: 42.5%;
      }
      @media (max-width: 599px){
        padding-bottom: 73%;
        padding-top: 73%;
      }
      @media (max-width: 500px){
        padding-bottom: 88.5%;
        padding-top: 88.5%;
      }
  }

    .content {
        color: #fff;
        @media (min-width: 769px){
        .col-2{
            width: $col-2;  
        }
      }
    .image--loaded{
      position: absolute;
      right: 0;
      left: 0;
      &:before{
        content: "";
        background: $bk-gradient;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
      }
      .image__img {
        width: 100%;
        object-fit: cover;
        min-height: $height1;
        display: block;
      }
    }
    .row{
      position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: self-start;
    position: relative;
    z-index: 1;
    padding-top: 3em;
     @media (max-width: 768px){
      display: block;
      padding-top: 2em;
     }
    }
    
    }
  
 .img-wrapper{
   overflow: visible;
  }
  .hero-img {
    text-align: center;
    // transform: scale(1.2);
  .image--loaded {
    position: relative;
      &::before{
      content: '';
      display: block;
      padding-bottom: 115%;
      width: 100%;
      background: none;
      }
      .image__img {
        width: auto;
        display: inline;
         @media (min-width: 769px){
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        max-width: 100%;
        object-fit: contain;
        margin: 0 auto;
        transform: scale(.925);
         }
          @media (max-width: 768px){
            transform: scale(0.725) translateY(-10em);
          }
          @media (max-width: 600px){
            transform: scale(.66) translateY(-11em);
          }
      }
    }
} 
  .description{
     padding: 0 17%;
    @media (min-width:769px){
      padding: 0 22% 0 0;
    }
    @media (max-width:600px){
      padding: 0;
    }
       
  }
}
