// Header styles
footer{
  background-color: $black-bg;
  position: relative;
  z-index: 1000;
  color: $tan;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  .logo-wrapper {
    width: 110px;
    float: right;
    padding: 10px 0;
    text-align: right;
      .logo {
        height: 38px;
        float: right;
    }
  }
  h1{
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .menu-bar {
    text-align: right;
  }  
  nav {
    display: inline-block;
    ul li {
      display: inline-block;
    } 
  }
  .social-links {
    a{
      color: $tan;
      font-size: 20px;
      padding: 0 5px;
    }
  }
  .site-title {
  width: 30%;
  float: left;
  color: $white;
  padding: 5px 0;
    h2{
      padding: 5px 0;
    }
    a{
      color: $white;
      text-decoration: none;
    }
}
}
