.recent-post {
  .main-heading{
    text-align: center;
    margin-top: 25px;
  }
  .post-grid {
    overflow: auto;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
    .post-item{
      margin-bottom: 30px;
      box-sizing: border-box;
      opacity: 1;
      @media (min-width: 600px){
        padding: 0 15px;
        &.col-2{
            width: $col-2;  
        }
      }
      @media (min-width: 769px){
        &.col-3{
          width: $col-3;
        }
      }
      &.active{
        .post-content {
          background: $dk_brown;
          color: $white;
        }
        .image__img {
          opacity: .9;
        }
      }
    }
    .image-wrapper {
      background: black;
    }
    .image--loaded {
      &::before{
        content: '';
      display: block;
      padding-bottom: 100%;
      width: 100%;
      }
      .image__img {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        object-fit: cover;
    }
  }
  .post-content {
    background: $tan_2;
    position: relative;
    text-align: center;
    height: 195px;
    transition: all .3s ease-in-out;
    .sub-heading-2 {
     margin: 0;
    }
    .date{
      padding: 20px 0;
    }
    p {
      margin-block-start: 13px;
    }
  }
}
  
#item{
  opacity: 1;
}