// Header styles
header{
  background-color: $black-bg;
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 70px;
  &.sticky{
    position: fixed;
    top: 0;
    width: 100%
  }
  .logo-wrapper {
    width: 150px;
    float: left;
    position: relative;
    z-index: 1;
      .logo {
        height: 40px;
        padding: 15px 0 10px;
    }
  }
  h1{
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .menu-bar {
    text-align: right;
  }  
  nav {
    position: relative;
    z-index: 1;
    display: inline-block;
    ul li {
      display: inline-block;
    } 
  }
  .social-links {
    a{
      color: $tan;
      font-size: 20px;
      padding: 0 5px;
    }
  }
}
.topbar{
  background-color: $tan;
  text-align:center;
  font-size: $font-size-small;
  color: $black;
  padding-bottom: 4px;
}
.site-title {
  width: 30%;
  float: left;
  color: $white;
    &.center {
      width: 100%;
      text-align: center;
      position: absolute;
      left: 0;
      z-index: 0;
      a{
        color: $tan;
      }
    }
    a{
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 22px;
    }
}